<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="prose p-10">
     <h1>pom</h1>
     <div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"title" | capitalize }}:</b> {{item.title}}</label>
                </div>
            <div>
                <label><b>{{"author" | capitalize }}:</b> {{item.author}}</label>
                </div>
            <div>
                <label><b>{{"content" | capitalize }}:</b> {{item.content}}</label>
                </div>
            <a href="/poms/{{ item.id }}/edit">Edit</a>
            <a href="/poms/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/poms/new">New pom</a>
    </div>
</body>

</html>